.todo-form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  background-color: #5b6476;
}

.todo-form__input {
 width: 30ch;
 height: 4ch;
 border: none;
 padding: 1ch;
 font-size: .9rem;
}

.todo-form__input--desc{
  height: 8ch;
  width: 30ch;
  font-family: inherit;
  font-weight: 200;
  font-size: 1rem;
  padding: 1ch;
  resize: none;
}

.todo-form__input:focus, .todo-form__input:hover, .todo-form__input:active  {
  outline: none;
}

.todo-form__input:hover{
  background-color: rgb(180, 253, 229);
}
