.item {
  cursor: pointer;
  text-align: left;
  align-items: center;
  padding: .4rem;
  border-bottom: 1.2px solid rgb(223, 221, 221);
  display: flex;
}

.item__header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .item__text {
    overflow-wrap: break-word;
    margin-left: .4rem;
   }
  
  .item__desc {
    padding-top: .2rem;
  }
}

.item--bought {
  order: 1;
  
  .item__title {
    text-decoration:line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
  }
  .item__desc {
    display: none;
  }
}

.item__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;

  .item__delete-button {
    align-self: flex-end;
  }

  .item__delete-button, .item__bought-button {
    border: 0;
    font-weight: 500;
    font-size: 1.6rem;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 10px;
    
    &:hover {
      transform:scale(1.2)
    }
  }
}

.item__index-order {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  width: 2.5ch;
  border-radius: 50%;
  border: 1px solid rgb(104, 192, 88);
  margin-left: -2.7rem;
  position: absolute;
  cursor: default;
}