.item {
  text-align: left;
  background-color: #98cbf3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgb(6, 5, 5, 0.8) 0px 2px 8px 0px;
  height: max-content;
}

.item--done{
  background-color: #a8df8c;
  order: 1;

  .item__title {
    text-decoration:line-through;
  }
  .item__desc {
    display: none;
  }
}

 .item__text {
  display: -webkit-box;
  cursor: default;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-top: .3rem;
  padding-inline: 1rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
 }

.item__header {
  display: flex;
  flex-direction: row;
  order: -1;
  width: 100%;
  justify-content: space-between;
}
// .item__date {}

.item__index-order {
  font-weight: 600;
}

// .item__time {} 

.item__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.2rem;
  width: 100%;
  align-self: flex-end;
  margin-top: .6rem;
}

// .item__done-button {}

/* .item__done-button--done {} */

// .item__delete-button {}

.item__delete-button, .item__done-button {
  width: 8ch;
}
.item__delete-button:hover {
  background-color: rgb(187, 74, 57);
}