
.list__header{
  justify-self: center;
  gap: 0.5rem;
  margin-top: 1.3rem;
}

.list__title {
  font-size: 1.5rem;
  margin-bottom: .3rem;
}

.list__text--get-started {
  margin-top: 1.3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(57, 187, 143);
}

.list__item-count {
  color:rgb(221, 221, 221);
  font-weight: 600;
}

.shopping-list {
  margin-top: 1.3rem;
  width: 75vw;
  max-width: 435px;
  min-width: 250px;
}

.--flex{
  display: flex;
  flex-direction: column;
}

.--grid{
  display: grid;
  .item{
    width: 75vw;
    max-width: 435px;
    min-width: 250px;
  }
}
