.todo {
  background-color: #f89c9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.todo--done{
  border: 2px solid pink;
  order: 1;
}

/* .todo__title {} */

/* .todo__date {} */

/* .todo__time {} */

/* .todo__done-button {} */

/* .todo__done-button--done {} */

.todo__delete-button, .todo__done-button {
  width: 8ch;
}
.todo__delete-button:hover {
  background-color: rgb(187, 74, 57);
}