.list__header{
  justify-self: center;
  gap: 0.5rem;
}

.list__todo-count {
  color:rgb(221, 221, 221);
}

.todo-list {
  margin-top: 2rem;
  width: 75vw;
  max-width: 435px;
  min-width: 250px;
}

.--flex{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.--grid{
  border: 2px dotted orangered;
}

.--block{
  .todo {
    margin-bottom: 1rem;
  }
}