.shopping-list__options {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.options__title{
  font-size: 1.3rem;
  margin-top: .3rem;
}

.options__buttons {
  display: inherit;
  gap: .6rem;
  margin-top: .6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.options__text {
  border: 1.6px dashed orange;
  width: 75vw;
  max-width: 435px;
  min-width: 250px;
  padding: .7rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: left;
  white-space: pre-wrap;
}

.options__button {
  width: 15ch;

  &.--active {
    background-color: orange;
    text-decoration: underline;
  }
  &:hover {
    background-color: orange;
  }
}
