.todo-list__options {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.options__title{
  font-size: 1.3rem;
  margin-top: 2rem;
}

.options__buttons {
  display: inherit;
  gap: .6rem;
  margin-top: .6rem;
  flex-wrap: wrap;
  justify-content: center;
}

.options__text {
  border: 1.6px dashed orange;
  width: 75vw;
  max-width: 435px;
  min-width: 250px;
  padding: .7rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.options__button {
  width: 15ch;
}

.options__button:hover {
  background-color: orange;
}